In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data = "/Users/nelson/Desktop/BI/data/Base_open_data_22_def.xlsx"
df = pd.read_excel(data, sheet_name='BMO_2022_open_data')
df.head()

,annee,Code métier BMO,Nom métier BMO,Famille_met,Lbl_fam_met,BE22,NOMBE22,Dept,NomDept,REG,NOM_REG,met,xmet,smet
0,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,101,BASSIN BASSE-TERRE,971,Guadeloupe,1,Guadeloupe,240,149,131
1,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,102,BASSIN GRANDE-TERRE,971,Guadeloupe,1,Guadeloupe,167,125,146
2,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,103,BASSIN MARIE-GALANTE,971,Guadeloupe,1,Guadeloupe,16,*,16
3,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,104,BASSIN ILES DU NORD,971,Guadeloupe,1,Guadeloupe,13,*,13
4,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,105,BASSIN CENTRE,971,Guadeloupe,1,Guadeloupe,21,21,21

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50938 entries, 0 to 50937
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   annee            50938 non-null  int64
 1   Code métier BMO  50938 non-null  object
 2   Nom métier BMO   50938 non-null  object
 3   Famille_met      50938 non-null  object
 4   Lbl_fam_met      50938 non-null  object
 5   BE22             50938 non-null  int64
 6   NOMBE22          50938 non-null  object
 7   Dept             50938 non-null  object
 8   NomDept          50938 non-null  object
 9   REG              50938 non-null  int64
 10  NOM_REG          50938 non-null  object
 11  met              50938 non-null  object
 12  xmet             50938 non-null  object
 13  smet             50938 non-null  object
dtypes: int64(3), object(11)
memory usage: 5.4+ MB

In [20]:
df.to_csv("/Users/nelson/Desktop/BI/data/BMO.csv" ,index=False, sep=',')

In [21]:
df_BMO = pd.read_csv("/Users/nelson/Desktop/BI/data/BMO.csv", delimiter=',')
df_BMO

,annee,Code métier BMO,Nom métier BMO,Famille_met,Lbl_fam_met,BE22,NOMBE22,Dept,NomDept,REG,NOM_REG,met,xmet,smet
0,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,101,BASSIN BASSE-TERRE,971,Guadeloupe,1,Guadeloupe,240,149,131
1,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,102,BASSIN GRANDE-TERRE,971,Guadeloupe,1,Guadeloupe,167,125,146
2,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,103,BASSIN MARIE-GALANTE,971,Guadeloupe,1,Guadeloupe,16,*,16
3,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,104,BASSIN ILES DU NORD,971,Guadeloupe,1,Guadeloupe,13,*,13
4,2022,A0Z40,Agriculteurs salariés,Z,Autres métiers,105,BASSIN CENTRE,971,Guadeloupe,1,Guadeloupe,21,21,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50933,2022,W1Z80,Formateurs,S,Fonctions sociales et médico-sociales,9331,EST VAR,83,Var,93,Provence-Alpes-Côte d'Azur,48,23,9
50934,2022,W1Z80,Formateurs,S,Fonctions sociales et médico-sociales,9332,HAUT VAR,83,Var,93,Provence-Alpes-Côte d'Azur,19,15,*
50935,2022,W1Z80,Formateurs,S,Fonctions sociales et médico-sociales,9333,AIX GARDANNE SALON,13,Bouches-du-Rhône,93,Provence-Alpes-Côte d'Azur,202,189,7
50936,2022,W1Z80,Formateurs,S,Fonctions sociales et médico-sociales,9407,AJACCIO,2A,Corse-du-Sud,94,Corse,60,*,*
50937,2022,W1Z80,Formateurs,S,Fonctions sociales et médico-sociales,9409,BASTIA,2B,Haute-Corse,94,Corse,82,32,*

In [23]:
df_BMO.isna().sum()

annee              0
Code métier BMO    0
Nom métier BMO     0
Famille_met        0
Lbl_fam_met        0
BE22               0
NOMBE22            0
Dept               0
NomDept            0
REG                0
NOM_REG            0
met                0
xmet               0
smet               0
dtype: int64